<ng-container *appCarousel="
  let pageProducts of products;
  elementsSize: 4;
  let allIndexes = allIndexes;
  let activeIndex = index;
  let nextItem = next;
  let previousItem = back;
  let selectIndex = selectIndex">

  <div class="paginator">
    <button mat-icon-button (click)="previousItem()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div  *ngFor="let index of allIndexes" class="paginator__numbers">
      <div class="paginator__number" (click)="selectIndex(index)">{{ index + 1 }}</div>
    </div>
    <button mat-icon-button (click)="nextItem()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="productTemplate">
    <div class="container">
      <ng-container
        *ngFor="let product of pageProducts"
        [ngTemplateOutlet]="productTemplate"
        [ngTemplateOutletContext]="{ product: product }">
      </ng-container>
    </div>
  </ng-container>

</ng-container>

<!-- <ng-template 
  ngFor
  [ngForOf]="pageProducts"
  [ngForTemplate]="productTemplate">
</ng-template> -->