<!-- <ng-template [ngIf]="product" [ngIfThen]="productsList" [ngIfElse]="loader"></ng-template>

<ng-template #productsList>
        <div class="container">
                <app-product-card class="product" [product]="product"></app-product-card>
                <app-product-card class="product" [product]="product"></app-product-card>
        </div>
</ng-template> -->
<!-- <ng-template [ngIf]="product && [product, product]" [ngIfElse]="loader" let-defaultContext let-products="ngIf" let-name="toString"> -->
<div *ngIf="products; else loader" class="conteiner">
    <ng-container 
        *appPagination="
            let productsGroup; 
            of: products;
            elementNum: 4;
            let allIndexes = allIndexes;
            let activeIndex = index;
            let nextItem = next;
            let backItem = back;
            let setGroupProdByIndex = setGroupProdByIndex
    ">
        <div class="container">
            <app-product-card
            *ngFor="let prod of productsGroup"
                class="product" 
                [product]="prod"
            ></app-product-card>
        </div>
        <div class="container-pagination">
            <button mat-icon-button (click)="backItem()">
                <mat-icon>
                    chevron_left
                </mat-icon>
            </button>
            <button 
                mat-icon-button
                *ngFor="let index of allIndexes"
                (click)="setGroupProdByIndex(index)"
            >
                {{ index + 1 }}
            </button>            
            <button mat-icon-button (click)="nextItem()">
                <mat-icon>
                    chevron_right
                </mat-icon>
            </button>
        </div>
      </ng-container>  
</div>
<ng-template #loader>
        <mat-spinner></mat-spinner>
</ng-template>